$textColor: #FFF;
$redOoredooColor: #ed1c24;
$darkredOoredooColor: #db0007;
$texthintColor: rgb(219, 219, 219);
$texthintRegColor: rgb(49, 48, 48,0.5);
$primaryBackgroundColor: #222222;
$secondaryBackgroundColor: #3d3d3d;
$thirdBackgroundColor: #2e2e2e;
$formBackgroundColor: #252525;
$borderErrorColor:  #ed921c;

$textColorRegistration: #000

/* //drak mode alligator
$primaryBackgroundColor: #222831;
$secondaryBackgroundColor: #181C22;
$thirdBackgroundColor: #1f2227;*/